* {
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(255, 198, 206);
    padding: 5%;
    color: white;

}

.container{
    display: flex;
    justify-content: space-evenly;
    height: 1%;
    text-align: center;
}

.middle {
    padding: 2%;
    color: gray;
    text-decoration: none;
}

.space {
    display: flex;
    justify-content: space-between;
}

/*.text {
    display: flex;
    justify-content: space-between;
}*/

.Bottom {
    display: flex;
    background-color: rgb(158, 158, 158);
    padding: 5%;
    color: white;
}